<%= render "flash" %>

<h1> Products </h1>
  <p> Discover & Buy Exclusive Art from Poland designed and created by artist Alicja Kucharska! </p>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.name %>
      <%= product.category %>
        <% if product.pic.attached? %>
          <%= image_tag product.pic %>
        <% end %>
    </li>
     <%= button_to "Add #{product.name} to the cart" %>
  <% end %>
</ul>
